{% extends 'base.html' %}


{% block Content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-list">
				<li class="nav-header">博文管理</li>
				<li><a href="{{ url_for('admin.submitArticles') }}">发表博文</a></li>
				<li><a href="#">管理博文</a></li>
				<li><a href="#">博文分类</a></li>

				<li class="nav-header">评论管理</li>
				<li><a href="#">博文评论</a></li>

                <li class="nav-header">博客定制</li>
				<li><a href="#">基本信息</a></li>
				<li><a href="#">右侧面板管理</a></li>

				<li class="nav-header">其它管理</li>
				<li><a href="#">管理员设置</a></li>
				<li><a href="#">帮助</a></li>
			</ul>
        </div>
        <div class="col-md-10">
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}