{% extends 'admin/admin_base.html' %}

{% block title %}
    Blog_mini -添加插件
{% endblock %}

{% block admin_content %}
<div class="entry-box submit-article">
    <h4><strong>添加插件</strong></h4>
    <hr/>
    <div>
    <form class="add-blog-plugin" method="post" action="">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class='form-control', required='') }}
            {{ form.note.label }}（可选）
            {{ form.note(class='form-control') }}
            {{ form.content.label }}
            {{ form.content(id='pluginContent') }}
        </div>
        <div class="add-plugin-button">
            <button type="submit" class="btn btn-success">提交</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tinymce_setup.js') }}"></script>
{% endblock %}