{% extends 'admin/admin_base.html' %}

{% block title %}
    Blog_mini -帮助
{% endblock %}

{% block admin_content %}
<div class="entry-box">
    <h4><strong>Blog_mini帮助页面</strong></h4>
    <hr/>
    <h5 style="color: #337ab7"><strong>1.Blog_mini是什么？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Blog_mini由Python爱好者<code>香飘叶子</code>开发完成，是一个开源的个人博客系统，其采用Web框架为Flask，
        有如下主要特点：
    </p>
    <p>
        1.简洁的用户界面，使用前端框架为Bootstrap，支持响应式
    </p>
    <p>
        2.强大的后台管理功能，一旦部署完成，即可轻松管理你的博客
    </p>
    <p>
        3.通俗易懂的源代码，代码不会很复杂，方便阅读和理解
    </p>
    <p>
        4.详细的部署文档，涵盖在CentOS/Ubuntu/Heroku等平台的部署
    </p>
    <p>
        5.技术支持，对于部署和使用出现的问题，作者将提供无偿的技术支持
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;由于其具有以上特点，因此使用Blog_mini来作为个人博客平台，是一个非常不错的选择！
    </p>
    <h5 style="color: #337ab7"><strong>2.Blog_mini免费吗？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Blog_mini是开源的，所以绝对是免费的，并且你不用担心任何版权问题，因此你可以在GitHub上获得它的全部源代码，
        并进行修改和扩展开发。
    </p>
    <h5 style="color: #337ab7"><strong>3.如何获得Blog_mini的帮助与支持？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;本着自由与分享的精神，作者不仅将Blog_mini分享给大家，同时撰写了较为详尽的完整部署文档，
        并且无偿提供技术支持，你可以在后面给出的链接地址中得到相关信息。
    </p>
    <h5 style="color: #337ab7"><strong>4.相关链接</strong></h5>
    <p>Blog_mini源码地址：<a href="https://github.com/xpleaf/Blog_mini" target="_blank">https://github.com/xpleaf/Blog_mini</a></p>
    <p>个人社交博客系统：<a href="https://flasky-mini.herokuapp.com" target="_blank">https://flasky-mini.herokuapp.com</a></p>
    <p>51cto博客：<a href="http://xpleaf.blog.51cto.com" target="_blank">http://xpleaf.blog.51cto.com</a>（开源项目一栏）</p>
    <strong>有问题请在51cto博客上给我留言，作者承诺将无限期提供技术支持。</strong>
</div>
{% endblock %}