{% extends 'admin/admin_base.html' %}

{% block admin_content %}
<div class="entry-box">
    <h4><strong>Blog_mini帮助页面</strong></h4>
    <hr/>
    <h5 style="color: #337ab7"><strong>1.Blog_mini是什么？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Blog_mini由Python爱好者<code>香飘叶子</code>开发完成，是一个开源的个人博客系统，其采用Web框架为Flask，
        由于其具有简洁的用户界面和<strong>强大的后台管理</strong>功能，因此非常适用于个人博客平台的搭建，同时由于其代码的通俗性，
        也适合Python初学者用来阅读与学习。
    </p>
    <h5 style="color: #337ab7"><strong>2.Blog_mini免费吗？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Blog_mini是开源的，所以绝对是免费的，并且你不用担心任何版权问题，因此你可以在GitHub上获得它的全部源代码，
        并进行修改和扩展开发。
    </p>
    <h5 style="color: #337ab7"><strong>3.如何获得Blog_mini的帮助与支持？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;本着自由与分享的精神，作者不仅将Blog_mini分享给大家，同时撰写了较为详尽的完整部署文档，
        并且无偿提供技术支持，你可以在后面给出的链接地址中得到相关信息。
    </p>
    <h5 style="color: #337ab7"><strong>4.相关链接</strong></h5>
    <p>Blog_mini源码地址：<a href="https://github.com/xpleaf/Blog_mini" target="_blank">https://github.com/xpleaf/Blog_mini</a></p>
    <p>个人社交博客系统：<a href="https://flasky-mini.herokuapp.com" target="_blank">https://flasky-mini.herokuapp.com</a></p>
    <p>51cto博客：<a href="http://xpleaf.blog.51cto.com" target="_blank">http://xpleaf.blog.51cto.com</a>（开源项目一栏）</p>
    <strong>有问题请在51cto博客上给我留言，作者承诺将无限期提供技术支持。</strong>
</div>
{% endblock %}