<ul class="comments">
    {% if comments %}
        {% for comment in comments %}
        <li class="comment">
            {% if comment.comment_type == 'reply' %}
                <p class="comment-reply-info">
                    <span class="glyphicon glyphicon-envelope"></span>
                    回复给<strong><i>
                    {% if comment.followed_name() %}
                        {{ comment.followed_name() }}
                    {% else %}
                        {{ comment.reply_to }}
                        ({{ comment.reply_to }}的该条评论已经被删除！)
                    {% endif %}
                    ：</i></strong>
                </p>
            {% endif %}
            <div class="comment-thumbnail">
                <img class="img-rounded profile-thumbnail" src="{{ comment.gravatar() }}">
            </div>
            <div class="comment-info">
                <div class="comment-date"><span>{{ moment(comment.timestamp.replace(microsecond=0)).format('LLL') }}</span></div>
                <div class="comment-author">
                    <span>{{ comment.author_name }}</span>
                    {% if User.query.filter_by(email=comment.author_email).count() %}
                        <span class="glyphicon glyphicon-user">管理员</span>
                    {% endif %}
                </div>
                <div class="comment-content">
                    {% if comment.disabled == False or current_user.is_authenticated %}
                        <p>{{ comment.content }}</p>
                    {% endif %}
                    {% if comment.disabled == True and current_user.is_authenticated %}
                        <p class="disabled-comment-admin-info">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            <i>该评论已经被管理员屏蔽！访客无法查看和回复此评论内容。</i>
                        </p>
                    {% elif comment.disabled == True %}
                        <p class="disabled-comment-admin-info">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            <i>该评论已经被管理员屏蔽！</i>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="row comment-handle">
                {% if current_user.is_authenticated %}
                <div class="col-sm-1 col-sm-offset-8">
                    {% if comment.disabled == False %}
                    <a class="btn btn-sm btn-warning"
                       href="{{ url_for('admin.disable_comment', id=comment.id, page=page) }}">
                        <span class="glyphicon glyphicon-remove-sign"></span> 屏蔽
                    </a>
                    {% else %}
                    <a class="btn btn-sm btn-success"
                       href="{{ url_for('admin.enable_comment', id=comment.id, page=page) }}">
                        <span class="glyphicon glyphicon-ok-sign"></span> 恢复
                    </a>
                    {% endif %}
                </div>
                <div class="col-sm-1 delete-comment">
                    <button class="btn btn-sm btn-danger"
                            onclick="delCommentCfm('{{ url_for('admin.delete_comment', id=comment.id, page=page) }}')">
                        <span class="glyphicon glyphicon-trash"></span> 删除
                    </button>
                </div>
                {% endif %}
                {% if comment.disabled == False or current_user.is_authenticated %}
                <div class="col-sm-1 {% if current_user.is_anonymous %}col-sm-offset-10{% endif %}">
                    <button class="btn btn-sm btn-info" onclick="go_to_reply({{ comment.id }}, '{{ comment.author_name }}')">
                        <span class="glyphicon glyphicon-comment"></span> 回复
                    </button>
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    {% else %}
        <li class="comment">
            <div class="comment-content">暂无评论</div>
        </li>
    {% endif %}
</ul>

<!-- 信息删除确认: For delete a comment confirm -->
<div class="modal fade" id="delCommentCfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">确认删除评论？</h4>
            </div>
            <div class="modal-body">
                <p>
                    将该评论删除后不可恢复，您确认要删除吗？
                </p>
                <p>
                    （提示：如果您只是不想显示该评论内容，可以选择将其屏蔽，而不必删除。）
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a onclick="" id="delCommentCfmClick" class="btn btn-success" data-dismiss="modal">确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
