{% import 'bootstrap/wtf.html' as wtf %}

<div class="row">
    <div class="col-md-8" id="submit-comment-container">
{#        <div class="alert alert-info alert-dismissable" id="reply-dialog-box">#}
{#            <button type="button" class="close" data-dismiss="alert" id="undo_reply">&times;</button>#}
{#            回复<strong><i>香飘叶子</i></strong> </div>#}
        <form class="submit-comment-form" id="submit-comment-form" method="post" action="">
            {{ form.csrf_token }}
            {{ form.follow(type='hidden') }}
            {{ form.name.label }}{{ form.name(class='form-control', required='', value=current_user.username) }}
            {{ form.email.label }}{{ form.email(class='form-control', required='', value=current_user.email) }}
            {{ form.content.label }}{{ form.content(class='form-control', required='') }}
            <button type="submit" class="btn btn-default">
                提交
            </button>
        </form>
    </div>
</div>
